<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.data.dao.ItemDao">
	<update id = 'insertItem' parameterType = 'ItemDto'>
		MERGE INTO ITEM
		USING DUAL
			ON(id = #{id})
		WHEN MATCHED THEN
			UPDATE SET
				NAME = #{name}
				,IS_ACTIVE = #{isActive}
				,MARKET = #{market}
				,INDUSTRY = #{industry}
				,CORP_SIZE = #{corpSize}
		WHEN NOT MATCHED THEN
			INSERT(
				ID,
				NAME,
				IS_ACTIVE,
				CURRENCY_ID,
				MARKET,
				CATEGORY,
				INDUSTRY,
				CORP_SIZE,
				LISTING_DATE
			)
			VALUES(
				#{id},
				#{name},
				#{isActive},
				#{currencyId},
				#{market},
				#{category},
				#{industry},
				#{corpSize},
				#{listingDate}
				)
	</update>
	
	<update id ='updateMarketCap' parameterType = 'ItemDto'>
		UPDATE ITEM 
		SET
			LISTED_SHARE = #{listedShare},
			MARKET_CAP = #{marketCap}
		WHEN ID = #{id}
	</update>
	
	<update id= 'updateCorpCode' parameterType = 'HashMap'>
		UPDATE ITEM
		SET
		CORP_CODE = #{corpCode}
		WHERE
		ID = #{id}
	</update>
	
	<select id = 'selectItemList' resultType = 'ItemDto'>
		SELECT * FROM ITEM;
	</select>
	
	<insert id = 'insertHistoryDataDtoList' parameterType = 'List'>
	INSERT INTO HISTORY_DATA(
	id,
	trading_date,
	item_id,
	open,
	close,
	low,
	high,
	volume
	)
	values
	<foreach item ='item' index='index' collection = 'list'>
	(
	TO_CHAR(SYSDATE, 'YYYYMMDD')||#{item.itemId},
	#{item.tradingDate},
	#{item.itemId},
	#{item.open},
	#{item.close},
	#{item.high},
	#{item.volume}
	)
	</foreach>
	
	
	</insert>
</mapper>