<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.trade.mapper.radeMapper">
	<insert id = 'insertTrading' parameterType ='com.example.demo.vo.TradingDto'>
		INSERT INTO trading(
			ID,
			PRICE,
			POSITION
			AMOUNT,
			OFFER_DATE,
			PORTFOLIO_TARGET_LIST_ID,
		)
		VALUES(
			TO_CHAR(SYSDATE, 'YYYYMMDD')||#{ticker},
			#{price},
			#{position}, //0 ,1 로 나옴 
			#{amount},
			#{date}
			#{tradingTargetId} 
		)
	</insert>
	<update id = 'updateTradingStatus' parameterType='com.example.demo.vo.TradingDto'>
		UPDATE trading
		SET(
			COMPLETE = #{complete}
		)
		WHERE(
			POSITION = #{position} AND
			TICKER = #{itemId} AND
			AMOUNT = #{amount} AND
			PRICE = #{price}
		)
	</update>
</mapper>