<html lang='ko' xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
    <script>
        function makeChar(a){
            var PriceVo ={
                name : 'kospi'
            };
            $.ajax({
                url:"localhost:8080/make",
                type: "POST",
                dataType : "json",
                data : PriceVo
            }).done(function (data){
                console.log(data);
            })
        }
    </script>   
</body>
</html>